/* Increase the width of the body */
.wy-nav-content {
      max-width: none;
  }

/* Set the GTDB-Tk logo size */
.wy-side-nav-search .wy-dropdown>a img.logo, .wy-side-nav-search>a img.logo {
   width: 100%;
   max-width: 150px;
}

/* Change the visited link colour */
a:visited, a {
   color: #578f5d;
}
.wy-menu-vertical a {
   color: #d9d9d9;
}

/* Style the header for argparse arguments */
.option-list dt {
    display: table;
    margin: 6px 0;
    font-size: 80%;
    line-height: normal;
    background: #e8f3ea;
    color: #578f5d;
    border-top: solid 3px #73a579;
    padding: 6px;
    position: relative;
}

/* Theme for GTDB-Tk */

/* Top left background */
.wy-side-nav-search, .wy-nav-top {
    background: #578f5d;
}

/* Background when a link is clicked on the left */
.wy-menu-vertical a:active {
    background: #578f5d;
}

/* Border of search box */
.wy-side-nav-search input[type=text] {
    border-color: #578f5d;
}

/* Set the version colour */
.wy-side-nav-search>div.version {
    color: #ffffff;
}

/* Set the menu colour */
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #578f5d;
}

/* Change the row colour when mouseover */
.row-even:hover td, .row-odd:hover td {
    background-color: #e5e5e5 !important;
}
